body {
  font-family: "Montserrat";
  text-align: center;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
  background-color: #f5d782;
}

h2, h3, h4, h6 {
  font-family: "Montserrat-Bold";
}

h1 {
  font-family: serif;
  font-size: 2.5rem;
  text-align: center;
  color: #03506f;
  font-weight: bold;
  margin-bottom: 40px;
}

h5 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "Lora";
}

p {
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  background-color: #eb5e0b;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.btn1 {
  color: #fff;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Containers */
.container-fluid {
  padding: 5% 5%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Sections */
.colored-section {
  font-family: "Anton", sans-serif;
  height: auto;
}

.white-section {
  background-color: #fff;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Navigation Bar */
.navbar {
  padding: 10px 15px;
}

.navbar-brand {
  font-family: "Lora";
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
}

.nav-item {
  padding: 0 18px;
  font-weight: bold;
  margin-right: 20px;
}
.nav-link {
  font-size: 1.6rem;
  font-family: "Lora";
  text-decoration: underline;
}

.navbar-nav {
  margin: 30px;
}

.logo {
  height: 150px;
  margin: 20px;
  margin-top: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/* carousel Section */
#carousels {
  margin: 0;
  padding: 0 0 2.5rem;
}

.carousel-image {
  max-width: 100%;
  max-height: 800px;
}

.img2 {
  width: 100%;
}

.carousel-item {
  position: relative;
}

.carousel-control-next {
  margin: 20px;
}

.carousel-control-prev {
  margin: 20px;
}

.carousel-control-prev-icon {
  height: 40px;
  width: 40px;
  border-radius: 10%;
}

.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  border-radius: 10%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/
/*donate section*/
.donate-text {
  color: #cd0a0a;
  font-weight: bold;
  font-size: 35px;
  margin: 10px;
  font-family: 'Gentium Book Basic', serif;
}

/*site section*/
.site-section {
  margin: 40px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #eb5e0b;
  margin-bottom: 1rem;
}

.icon1 {
  margin-right: 20px;
  color: #cd0a0a;
  margin-bottom: 2rem;
}

.icon:hover {
  color: #ff9642;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*contact*/

.contact {
  color: #cd0a0a;
  font-weight: bolder;
  font-size: 40px;
  text-decoration: underline;
}

.form-control {
  border-radius: 10px;
  margin: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Footer Section */
#footer{
  padding-bottom: 40px;

}
.social-icon {
  margin: 30px 20px;
  color: #046582;
}

.myname {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}

.zoom:hover {
  transform: scale(1.2);
}
